* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1157_1026 {
  width: 100%;
  height: 630px;
  background: url("../images/v1157_1026.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1157_1027 {
  width: 66px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 104px;
  left: 468px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1157_1028 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 128px;
  left: 449px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1029 {
  width: 500px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 159px;
  left: 251px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1030 {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 176px;
  left: 423px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1031 {
  width: 321px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 200px;
  left: 340px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1032 {
  width: 524px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 224px;
  left: 239px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1155_2 {
  width: 131px;
  height: 98px;
  background: url("../images/v1155_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 435px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1157_1034 {
  width: 328px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 363px;
  left: 337px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1035 {
  width: 965px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 380px;
  left: 18px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1036 {
  width: 283px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 404px;
  left: 359px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1037 {
  width: 444px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 435px;
  left: 279px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1039 {
  width: 572px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 473px;
  left: 215px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1040 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 504px;
  left: 426px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
