* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1157_1068 {
  width: 653px;
  height: 270px;
  background: url("../images/v1157_1068.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1157_1069 {
  width: 103px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 275px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1157_1070 {
  width: 581px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 59px;
  left: 36px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1071 {
  width: 368px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 143px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.image {
  width: 100%;
  height: auto;
  background: url("../images/v1154_745.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 261px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1157_1072 {
  width: 617px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 204px;
  left: 18px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1073 {
  width: 460px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 228px;
  left: 97px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
