* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1154_482 {
  width: 168px;
  height: 403px;
  background: rgba(0,0,0,0.6000000238418579);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 1.7919751405715942px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v1154_484 {
  width: 131px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 107px;
  left: 18px;
  font-family: Apple SD Gothic Neo;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1154_485 {
  width: 98px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 69px;
  left: 35px;
  font-family: Apple SD Gothic Neo;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1154_526 {
  width: 130px;
  height: 63px;
  background: url("../images/v1154_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
