* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1157_1042 {
  width: 433px;
  height: 569px;
  background: url("../images/v1157_1042.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1157_1043 {
  width: 263px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 54px;
  left: 85px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1157_1044 {
  width: 195px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 78px;
  left: 119px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1045 {
  width: 141px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 109px;
  left: 146px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1154_614 {
  width: 132px;
  height: 77px;
  background: url("../images/v1154_614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 151px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1157_1046 {
  width: 363px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 213px;
  left: 35px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1154_589 {
  width: 132px;
  height: 100px;
  background: url("../images/v1154_589.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 151px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1157_1047 {
  width: 191px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 354px;
  left: 121px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1157_1048 {
  width: 397px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 378px;
  left: 18px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1154_591 {
  width: 131px;
  height: 88px;
  background: url("../images/v1154_591.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 151px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1157_1050 {
  width: 336px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 507px;
  left: 49px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
