* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1159_1092 {
  width: 639px;
  height: 289px;
  background: url("../images/v1154_837.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1159_1093 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 252px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1159_1094 {
  width: 207px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 59px;
  left: 216px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1159_1095 {
  width: 416px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 112px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1154_837 {
  width: 132px;
  height: 99px;
  background: url("../images/v1154_837.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 254px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1159_1097 {
  width: 603px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 223px;
  left: 18px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1159_1098 {
  width: 580px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 247px;
  left: 30px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
