* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1159_1107 {
  width: 578px;
  height: 306px;
  background: url("../images/v1159_1107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 35px 18px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1159_1108 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 35px;
  left: 237px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v1159_1109 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 59px;
  left: 210px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1159_1110 {
  width: 288px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 83px;
  left: 145px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1159_1111 {
  width: 542px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 107px;
  left: 18px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1059_127 {
  width: 132px;
  height: 99px;
  background: url("../images/v1059_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 223px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1159_1112 {
  width: 186px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 240px;
  left: 196px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
.v1159_1113 {
  width: 416px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 257px;
  left: 81px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: left;
}
