* {
  box-sizing: border-box;
}
body {
  font-size: 1em !important;
  background-color: transparent;

}

body div span{
  font-size: 1em !important;
}

body *{
  font-size: 1em !important;
font-family: Arial;
  width:100% !important;
  color: rgba(255,255,255,1);
  position:relative !important;
}

.title{
	font-weight: Bold;
}

.image{
	height: 15em;
	width:98% !important;
	position: relative !important;
	margin: 1em auto;
	top: initial;
	left: initial;
	background: url("image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain !important;
	}
}